body {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    background-color: #D8BFD8;  
}

.form > input, .button_1>button {
    margin-right: 8px;
    margin-top: 8px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid;
    font-size: 1em;;
 
}